<!-- The user selected Register -->
<div *ngIf="showNewRecordOption">
  
  <form class="col-md-4" #formRegistry="ngForm">
    <h1>Register new record</h1>

    <div class="alert alert-info" *ngIf="formRegistry.submitted && !formRegistry.controls['patientsName'].valid">Patient's name is required</div>
    <div class="alert alert-info" *ngIf="formRegistry.submitted && typeSelected == 'Select Type'">Blood type is required</div>
    <div class="alert alert-info"  *ngIf="allergyErrorMessage">{{allergyErrorMessage}}</div>

    <!-- Patient's name -->
    <div class="form-group">
      <label for="patientsName">Patient's name:</label>
      <input type="text" class="form-control" name="patientsName" [(ngModel)]="medicalRecord.name" required>
    </div>

    <!-- Patient's blood type -->
    <div class="form-group">
      <label for="blood-type">Blood Type:</label>
      <div class="input-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{typeSelected}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li *ngFor="let bloodType of bloodTypesArray"><a href="#" (click)="setTypeSelected(bloodType); medicalRecord.bloodType = bloodType">{{bloodType}}</a></li>
          </ul>
        </div>
      </div>
    </div>

      <!-- Patient's allergies and medication -->
      <div *ngFor="let allergy of allergies; let i = index">

        <!-- Allergies input -->
        <div class="form-group">
          <div class="input-group">
            <label for="allergy">Allergy:</label>
            <input type="text" name="allergy" class="form-control" [(ngModel)]="allergiesMedications[i].allergy">
          </div>
        </div>

        <!-- Medications input -->
        <div class="form-group">
          <div class="input-group">
            <label for="medications">Medication:</label>
            <input type="text" name="medications" class="form-control" [(ngModel)]="allergiesMedications[i].medication">
          </div>
        </div>

        <button class="btn btn-warning" (click)="removeInput(i)">Remove This allergy</button>
      </div>



      <!-- Add new allergies button -->
      <br>
      <div class="form-group">
        <div class="input-group">
          <button class="btn btn-danger" (click)="addInput()">Click here to add allergy</button>
        </div>
      </div>

      <!-- Submit button -->
      <div class="form-group">
        <input class="form-control btn-success" type="submit" value="Add new patient" (click)="onSubmit()">
      </div>

      <div class="form-group">
        <input class="form-control btn-info" type="button" value="Go Back" (click)="showMainMenu()">
      </div>
  </form>
</div>

<!-- The user selected Consult -->
<div *ngIf="shownNewConsultOption">
  <form class="col-md-4" (ngSubmit)="onConsult()">
    <h1>Consult patient's record</h1>

    <div class="form-group">
      <label for="recordNumberInput">Record number:</label>
      <input [(ngModel)]="medicalRecord.recordNumber" type="text" class="form-control" name="recordNumberInput" required placeholder="Enter record number here">

    <!-- Button to check patient's record -->
    </div>
    <div class="form-group">
      <input type="submit" value="Consult" class="btn btn-primary">
    </div>

    <div class="form-group">
      <label for="recordNumberField">Record number:</label>
      <input [(ngModel)]="this.showRecordNumberField" type="text" class="form-control" name="recordNumberField" disabled>
    </div>

    <div class="form-group">
      <label for="createdDateField">Created on:</label>
      <input [(ngModel)]="this.showCreatedDateField" type="text" class="form-control" name="createdDateField" disabled>
    </div>

    <div class="form-group">
      <label for="lastAppointmentDateField">Last appointment:</label>
      <input [(ngModel)]="this.showLastAppointmentDateField" type="text" class="form-control" name="lastAppointmentDateField" disabled>
    </div>

    <div class="form-group">
      <label for="patientsNameField">Patient's name:</label>
      <input [(ngModel)]="this.showPatientsNameField" type="text" class="form-control" name="patientsNameField" disabled>
    </div>

    <div class="form-group">
      <label for="bloodTypeField">Blood Type:</label>
      <input [(ngModel)]="this.showBloodTypeField" type="text" class="form-control" name="bloodTypeField" disabled>
    </div>

    <div class="form-group">
      <label for="allergiesField">Allergies:</label>
      <input [(ngModel)]="this.showAllergiesField" type="text" class="form-control" name="allergiesField" disabled>
    </div>

    <div class="form-group">
      <input class="form-control btn-info" type="button" value="Go Back" (click)="showMainMenu()">
    </div>
  </form>
</div>


<!-- The user selected to consult record -->

<!-- Options to show initially -->
<div *ngIf="showMainMenuOption">
  <div class="alert alert-info"  *ngIf="successRegistryMessage">{{successRegistryMessage}}</div>
  <div class="text-center">
    <h1>Welcome</h1>
    <div class="container">
      <div class="jumbotron">
        <p>Please, select one option:</p>
      </div>
    </div>

  </div>
  <div class="central col-lg-12">
    <div class="col-lg-6">
      <button class="btn btn-block btn-primary" (click)="showNewRecord()">Register New Patient</button>
    </div>
    <div class="col-lg-6">
      <button class="btn btn-block btn-info" (click)="showNewConsult()">Consult Patient Record</button>
    </div>
  </div>
</div>